<div class="slide-main">
    <div class="slider-container">
        <div class="slider-control left inactive"></div>
        <div class="slider-control right"></div>
        <ul class="slider-pagi"></ul>
        <div class="slider">
            <div class="slide slide-0 active">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__text">
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet</p>
                        <a class="slide__text-link">Project link</a>
                    </div>
                    <div class="slide__text1">
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet</p>
                        <a class="slide__text-link">Project link</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-1 ">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__text">
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet</p>
                        <a class="slide__text-link">Project link</a>
                    </div>
                    <div class="slide__text1">
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet</p>
                        <a class="slide__text-link">Project link</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__text">
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet</p>
                        <a class="slide__text-link">Project link</a>
                    </div>
                    <div class="slide__text1">
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet</p>
                        <a class="slide__text-link">Project link</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-3">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__text">
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet</p>
                        <a class="slide__text-link">Project link</a>
                    </div>
                    <div class="slide__text1">
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet</p>
                        <a class="slide__text-link">Project link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-main container mt-5">
  <div class="row">
    <div class="col-8 px-0 d-flex flex-wrap">
      <div class="carousel"><img src="/images/box1.png" alt=""></div>
      <div class="carousel"><img src="/images/box2.png" alt=""></div>
      <div class="carousel"><img src="/images/box3.png" alt=""></div>
      <div class="carousel"><img src="/images/box4.png" alt=""></div>
    </div>
    <img src="/images/box5.png" alt="">
  </div>
</div>
<div class="section-main2">
  <div class="row mx-0">
    <img src="/images/banner2text.png" class="align-self-center " alt="">
  </div>
</div>
<div class="container my-4">
  <img src="/images/number.png" alt="">
</div>